ol,
ul {
  list-style: none;
}
a img {
  border: none;
}
a img {
  border: none;
}
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
main {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]),
[hidden] {
  display: none;
}
.fa {
  transition: 0.3s all ease-out;
}
body {
  font-family: 'Fira Mono', sans-serif;
  background-color: #3d4954;
}
.editor-nav {
  background-color: #2b333b;
  height: 2rem;
  box-shadow: inset 0px -1px 3px 0px rgba(0,0,0,0.4);
}
.editor-nav__tab {
  color: #ecf0f0;
  font-size: 0.7rem;
  width: 10rem;
  padding-right: 1.5rem;
  padding-left: 0.5rem;
  height: 2rem;
  overflow: hidden;
  line-height: 1rem;
  line-height: 2rem;
  display: inline-block;
  cursor: pointer;
  box-sizing: border-box;
  word-break: break-all;
}
.editor-nav__tab_active {
  border-bottom: 2px solid #5caef2;
}
