white = #DADEE5
gray = #AAB1BF
light-gray = #C8CED6
dark-gray = #343943
very-dark-gray = #282C34
blue = #5CAEF2
green = #90BB71
light-green = #90BB71
red = #D8676F
light-pink = #C38FC1
pink = #C473DC
very-pink = #C839F1
orange = #D2876D

backgroundBlue = #3d4954
whiteBlue = darken(#fafbfb, 5%)

mainColor = blue

// General colors
syntax-text-color = whiteBlue
syntax-cursor-color = whiteBlue
syntax-selection-color = lighten(dark-gray, 10%)
syntax-background-color = backgroundBlue
syntax-comment-color = saturation(darken(whiteBlue, 50%), 5%)

// Guide colors
syntax-wrap-guide-color = dark-gray
syntax-indent-guide-color = lighten(dark-gray,2%)
syntax-invisible-character-color = lighten(dark-gray,2%)

// Gutter colors
syntax-gutter-text-color = darken(gray,5%)
syntax-gutter-text-color-selected = gray
syntax-gutter-background-color = syntax-background-color
syntax-gutter-background-color-selected = syntax-background-color
