@require 'reset'
@require 'colors'

.fa
	transition: 0.3s all ease-out

body
	font-family: 'Fira Mono', sans-serif
	background-color: backgroundBlue

.editor-nav
	background-color: darken(syntax-background-color, 30%)
	height: 2rem
	box-shadow: inset 0px -1px 3px 0px rgba(0,0,0,0.4)

.editor-nav__tab
	color: syntax-text-color
	font-size: 0.7rem
	width: 10rem
	position: relative
	padding-right: 1.5rem
	padding-left: 0.5rem
	height: 2rem
	overflow: hidden
	line-height: 1rem
	line-height: 2rem
	display: inline-block
	cursor: pointer
	box-sizing: border-box
	word-break: break-all

.editor-nav__tab_active
	border-bottom: 2px solid blue

.editor-nav__tab-close-icon
	position: absolute
	top: 0.5rem
	right: 0.4rem
	&:hover
		color: red
